<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

    <title>Document</title>
</head>
<body>
    
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'todo_index' %}">Todo</a> |
    <a href="{% url 'comments_index' %}">Comments</a> |
    <a href="{% url 'home' %}">About</a> 
    
    
    {% block content %}
    {% endblock %}

    {% block footer %}
    <hr>
    <p>This is the footer</p>
    {% endblock footer %}

</body>
</html>
